@import 'tailwindcss';


:root {
  --color-gray-2: #0d1622;
  --label-text:#93c5fd;
   /* Replace with your desired color */
}
button{
  cursor: pointer;
}

#services {
  scroll-margin-top: 80px; 
}

.label {
  display: block;        
  margin-bottom: 0.25rem;
  font-weight: 500;  
  
}
.input-field {
  width: 100%;                 
  padding: 0.7rem;              
  border-radius: 0.75rem;     
  background-color: #1f2937;    
  border: 1px solid #4b5563;   
  color: #ffffff;              
  box-sizing: border-box;      
}

.btn-add {
  padding: 0.7rem 1.2rem;       
  background-color: #22d3ee;  
  border-radius: 0.65rem;
  color: #0f172a;          
  border: none;               
  cursor: pointer;         
  transition: background-color 0.2s; 
  display: inline-block;
        
  text-align: center;
}
/* @media (max-width: 680px) {
  .btn-add {
    
    width: 50%;     
  }
} */
.btn-remove {
  padding: 0.7rem ;   
  background-color: #fc0000;  
  border-radius: 0.65rem;
  color: #ffffff ;          
  border: none;               
  cursor: pointer;         
  transition: background-color 0.2s; 
}

.btn-add:hover {
  background-color: #06b6d4
; 
}